---
import Layout from "../layouts/Page.astro";
---

<Layout title="Starting Soon" route="back">
  <div class="screen">
    <div class="">BACK IN A <span class="f-gs">MINUTE</span></div>
  </div>
</Layout>

<style>
  .screen {
    /* border: 1px solid blue; */
    aspect-ratio: 1.7777777778/1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2vw;
  }
</style>
